.main-section {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    width: 70%;
    border: solid black 1px;
    border-radius: 5px;
}
.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.picture img {
    margin-top: -475px;
    margin-left: -245px;
}
.page-title {
    text-align: center;
    margin-top: 1rem;
    font-family: 'Times New Roman', Times, serif;
}
.header-hr {
    width: 25%;
}
.job {
    padding: 1rem;
    padding-left: 2rem;
}
.job-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.job-link:hover {
    text-decoration: none;
}
.job-date {
    color: gray;
}
.description {
    font-family: 'Times New Roman', Times, serif;
}
.job-location {
    line-height: 0;
}
.doordash {
    color: red;
    height: 50px;
    width: 50px;
}
.shopbop {
    height: 100px;
    width: 100px;
}
.amazon {
    height: 100px;
    width: 100px;
}
.construction {
    height: 100px;
}
.athome {
    height: 100px;
    width: 100px;
}
.ymca {
    height: 100px;
    width: 100px;
}
.little-ceasar {
    height: 75px;
    width: 75px;
}
.mcdonalds {
    height: 75px;
    width: 75px;
    border-radius: 15px;
}
@media (max-width: 800px) {
    .main-section {
        width: 80%;
    }
    .description {
        font-size: 12px;
    }
    .job-name {
        font-size: 20px;
    }
}